{% extends "base.html" %}
{% block main %}
<div action="/login">
    <h1>AAAAAAAAAAAAAA</h1>
    <div class="form">
        <form id="form_somebody_once_told_me_the_world_is_gonna_roll_me,_i_aint_the_sharpest_tool_in_the_shed...she_was_looking_kinda_dumb_with_her_finger_and_her_thumb_in_the_shape_of_an_L_on_her_forehead">
            <label>AAAAAAAAAAA</label><br>
            <input type="text"><br>
            <label>AAAAAAAAAAA</label><br>
            <input type="text"><br>
            <lable>AAAAAAAAAAA</lable><br>
            <input type="text"><br>
        </form>
    </div>
</div>
{% endblock %}